<!DOCTYPE html><!-- doctype do HTML5 -->
<html>
	<head>
		<title>k2</title>
		
		<!-- Importante para habilitar os recursos de Responsividade em conjunto com o CSS -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
		<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="js/bootstrap.js"></script>
  		        
  		<link rel="stylesheet" href="css/bootstrap.css">
      
	</head>
	
<body>
		
    <!-- Início da barra de navegação -->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
            
            <!-- botao utilizado para abrir menu em dispositivos resolucao menor -->
          	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
          	</button>
            
            <!-- logo do site -->
            <a class="navbar-brand" href="#">K2</a>
			
			<!-- inicio menu -->
            <div class="navbar-collapse collapse navbar-right">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">HOME</a></li>
                <li><a href="#about">A EMPRESA</a></li>
                <li><a href="#contact">PRODUTOS</a></li>
                <li><a href="#contact">SERVICOS</a></li>
              </ul>
            </div>
            <!-- fim menu -->
            
		</div>
	</div>
	<!-- Fim da barra de navegação -->
	
   <!-- Cria area principal de marketing de um site -->
    <div class="jumbotron">
      <div class="container">
      	<br />
        <h1>Sinergia</h1>
        <p>
        	O MeusBonsAmigos.com é um projeto de Rede Social, desenvolvido pela K2 Engenharia de Software e foco em seus Pontos Fortes.
        	
        </p>
        <p><a class="btn btn-primary btn-lg" role="button">Veja mais &raquo;</a></p>
      </div>
    </div>

    <div class="container"><!-- container -->
      <!-- Criação de colunas -->
      <div class="row">
      	
        <div class="col-md-4">
          <h2>A EMPRESA</h2>
          <p>
          	A K2 Engenharia de Software é uma startup com foco em desenvolvimento de soluções de produtividade e combate ao esgotamento mental.
          </p>
          <p><a class="btn btn-default" href="#">Veja mais &raquo;</a></p>
        </div>
        
        <div class="col-md-4">
          <h2>PRODUTOS</h2>
          <p>
          		<a href="http://www.meusbonsamigos.com">www.meusbonsamigos.com</a>  <br> <br> 
          		<a href="http://www.meusbonsamigos.com/downloads/GTD-FRAMEWORK.rar"> GTD-FRAMEWORK <a/>
          		<br><br>

          </p>
          <p><a class="btn btn-default" href="#">Veja mais &raquo;</a></p>
        </div>
        
        <div class="col-md-4">
          <h2>SERVIÇOS</h2>
          <p>
          	   
			   <br />
			   <a href="https://go.hotmart.com/H41825868M?dp=1">- Engenharia de Software/ Engenharia de Requisitos/ Devops	</a>
			  
          </p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
        
      </div>

      <hr>

      <footer>
        <p>&copy; K2 2020 </p>
      </footer>
    </div> <!-- /container -->

	</body>
	
</html>