<!DOCTYPE html>
<html>
<head>
	<title>Cadastrar Login de Usuario e Senha</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/estilo2.css">
</head>
<body>

	<div id="container">
		
		<h1>Cadastrar Login de Usuario e Senha</h1>
		<form>
			




			


			<div>
				
				<input class="email" type="text" name="email" id="email" placeholder="Digite seu e-mail">
			</div>
			<div>
				<input class= "senha" type="password" name="senha" id="senha"
				placeholder="Digite sua senha">
			</div>
			


			<div>
				<input class= "senha" type="password" name="senha" id="senha"
				placeholder="Confirme sua senha">
			</div>

			



			

			<div>
				<input class="submit" type="submit" value="Salvar">
			</div>



				
		</form>
	</div>
</body>
</html>