<!DOCTYPE html>
<html>
<head>
	<title>Cadastrar Login de Usuario e Senha</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/estilo2.css">
	
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
     
    
<body>

	<div id="container">
		
		<h1 >Cadastrar Foto</h1>
		<form>
			




			


			
			<div>
				<label  for="arquivo">Arquivo</label>
				<input type="file" id="arquivo" name="">
			</div>




			

			<div>
				<input class="submit" type="submit" value="Salvar">
			</div>



				
		</form>
	</div>
</body>
</html>