<!DOCTYPE html>
<html>
<head>
	<title>Cadastro</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/estilo2.css">
</head>
<body>

	<div id="container">
		
		<h1>Cadastre Seus 5 Temas Dominantes aqui</h1>

		<form>
			<div id="temas"> 

				<div> 

					<b><label for="cars">Escolha seu Tema numero 1:</label></b>

					<select id="cars">
					  <option value="volvo">Restauração</option>
					  <option value="saab">Prudencia</option>
					  <option value="vw">Foco</option>
					  <option value="audi" selected>Intelecção</option>
					   <option value="audi" selected>Significancia</option>

					</select>

				</div>
				<div> 

					<b><label for="cars">Escolha seu Tema numero 2:</label></b>

					<select id="cars">
					  <option value="volvo">Restauração</option>
					  <option value="saab">Prudencia</option>
					  <option value="vw">Foco</option>
					  <option value="audi" selected>Intelecção</option>
					   <option value="audi" selected>Significancia</option>

					</select>

				</div>
				<div> 

					<b><label for="cars">Escolha seu Tema numero 3:</label></b>

					<select id="cars">
					  <option value="volvo">Restauração</option>
					  <option value="saab">Prudencia</option>
					  <option value="vw">Foco</option>
					  <option value="audi" selected>Intelecção</option>
					  <option value="audi" selected>Significancia</option>
					</select>

				</div>
				<div> 

					<b><label for="cars">Escolha seu Tema numero 4:</label></b>

					<select id="cars">
					  <option value="volvo">Restauração</option>
					  <option value="saab">Prudencia</option>
					  <option value="vw">Foco</option>
					  <option value="audi" selected>Intelecção</option>
					  <option value="audi" selected>Significancia</option>
					</select>

				</div>


				<div> 

					<b><label for="cars">Escolha seu Tema numero 5:</label></b>

					<select id="cars">
					  <option value="volvo">Restauração</option>
					  <option value="saab">Prudencia</option>
					  <option value="vw">Foco</option>
					  <option value="audi" selected>Intelecção</option>
					  <option value="audi" selected>Significancia</option>
					</select>

				</div>
			</div>
				
			<div id="salvar">
				<input class="submit" type="submit" value="Salvar">
			</div>

		</div>
			
		</form>
	</div>
</body>
</html>